/* flash message */
.flashMessage {
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    background-color: #3c8dbc;
    text-align: center;
    padding: 15px 0;
    font-size: 1.4em;
    color: #fff;
}

.font18{
    font-size: 18px;
}


.cant-use{
    display: none;
}
.can-use{
    display: block;
}