/* flash message */
.flash-message {
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    background-color: #2c3742;;
    text-align: center;
    padding: 15px 0;
    font-size: 1.4em;
    color: #fff;
}