/* common */
.align-center{
    text-align: center;
}

.font12{
    font-size: 1.2em;    
}
.font13{
    font-size: 1.3em;    
}
.font14{
    font-size: 1.4em;    
}

/* the others */
.flash_message {
    display: none;
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    background-color: #C4E1BC;
    text-align: center;
    padding: 15px 0;
    font-size: 1.4em;
}

td {
    vertical-align: middle !important;
}

p.form_txt{
    padding-top: 7px;
}
